# JetBrains (IntelliJ IDEA, RubyMine, WebStorm, PhpStorm, etc.)
.idea/
*.iml

# VS Code
.vscode/
.history
*.code-workspace

# Atom
*.atom/
*.apm/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Cursor
.cursor/
.cursorcache/